@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap');

body {
    background-image: url(../img/background.jpg);
    background-size: cover;    
    background-attachment: fixed;    
    background-repeat: no-repeat;
    font-family: 'Poppins', sans-serif;
}
.headerFlexContenedor {
    font-family: 'Julius Sans One', sans-serif;
    margin: 10px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: flex-start;
    align-items: center;
}

@media (max-width: 424px) {
    .headerFlexContenedor {
        visibility: hidden;
    }
}

@media (min-width: 425px) {
    .mobileNavBar {
        visibility: hidden;
        }
}

.headerFlexContenedor:hover {
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 5px;
}

.headerFlexContenedor:hover h1 a{
    color: rgba(255, 255, 255, 0.7);
}

.itemHeaderFlex1 {
    flex-grow: 1;
    align-self: baseline;
    text-align: center;
}

.itemHeaderFlex2 {
    flex-grow: 2;
    align-self: baseline;
    text-align: center;
}

.itemHeaderFlex1 h1 a {
    text-decoration: none;
    color: white;
}

.itemHeaderFlex1 h1 a:hover{
    color: rgba(172, 255, 47, 0.7);
}

.itemHeaderFlex1 h1 a:active{
    color: rgb(240, 173, 74);
}

.itemHeaderFlex2 ul li{
    display: inline-block;
    justify-self: center;
}

.itemHeaderFlex2 ul li a {
    text-decoration: none;
    color: white;
    padding-left: 20px;
}

.itemHeaderFlex2 ul li a:hover{
    color: rgba(172, 255, 47, 0.7);
    text-decoration: underline;
    font-weight: 800;
}

.mainFlexContenedor {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    color: white;
    margin: 30px 20px;
    padding: 20px;
    display: flex;
    gap: 40px;
}

@media (max-width: 425px) {
    .mainFlexContenedor {
        border-radius: 5px;
        margin: auto 5px;
        margin-top: -50px;
        padding: 5px;
        gap: 10px;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        justify-items: center;
        align-items: center;
    }
}

.itemMainFlex1 h2 {
    font-family: 'Julius Sans One', sans-serif;
    color: rgb(240, 173, 74);
    letter-spacing: 2px;
    margin-left: 50px;
}

.itemMainFlex1 a{
    text-decoration: none;
    color: rgba(172, 255, 47, 0.7);
    float: right;
    margin-right: 50px;
}

.itemMainFlex1 a:hover {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    padding: 3px;
}

.itemMainFlex2 img {
    border: solid 0.5px;
    border-radius: 5px;
    box-shadow: 0 10px 10px 0;
    color: rgba(0, 0, 0, 0.7);
}

.contenedorGrid {
    margin: 30px auto;
    padding: 20px;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
}

.contenedorGrid img {
    width: 200px;
    height: auto;
}

.contenedorGrid .itemGrid {
    border: solid 0.5px;
    border-radius: 5px;
    box-shadow: 0 10px 10px 0;
    color: rgba(0, 0, 0, 0.7);
}

@media (max-width: 425px) {
    .contenedorGrid {
        margin: 15px 10px;
        padding: 10px;
        gap: 5px;
        grid-template-columns: repeat(2, 1fr);
    }
    .contenedorGrid img {
        width: 150px;
        height: auto;
    }
}
.sectionFlexContenedor {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    color: white;
    margin: 30px 20px;
    padding: 20px;
    display: flex;
    gap: 40px;
    flex-direction: row-reverse;
    justify-content: center;
}

.itemSectionFlex2 img {
    border: solid 0.5px;
    border-radius: 5px;
    box-shadow: 0 10px 10px 0;
    color: rgba(0, 0, 0, 0.7);
}

.sectionFlexContenedor iframe {
    border: solid 0.5px;
    border-radius: 5px;
    box-shadow: 0 10px 10px 0;
    color: rgba(0, 0, 0, 0.7);
}

@media (max-width: 425px) {
    .sectionFlexContenedor {
        border-radius: 5px;
        margin: 20px 5px;
        padding: 5px;
        gap: 10px;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        justify-items: center;
        align-items: center;
    }

    .sectionFlexContenedor iframe {
        width: auto;
        height: auto;
    }
}

.itemSectionFlex1 h2 {
    font-family: 'Julius Sans One', sans-serif;
    color: rgb(240, 173, 74);
    letter-spacing: 2px;
    margin-left: 50px;
}

@media (max-width: 425px) {
    .itemSectionFlex1 h2 {
        margin: auto;
        letter-spacing: 0px;
        text-align: center;
    }
}

.itemSectionFlex1 a{
    text-decoration: none;
    color: rgba(172, 255, 47, 0.7);
    float: right;
    margin-right: 50px;
}

.itemSectionFlex1 a:hover {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    padding: 3px;
}

#tablaTiposCafe table{
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    padding: 15px;
    width: 800px;
    text-align: center;
}

@media (max-width: 425px) {
    #tablaTiposCafe table {
        width: auto;
    }
}

#tablaTiposCafe td {
    border: solid 0.5px;
    color: white;
}

#tablaTiposCafe th {
    color: rgba(172, 255, 47, 0.7);
    justify-self: center;
}

.itemSectionFlex2 iframe {
    border: solid 0.5px;
    border-radius: 5px;
    box-shadow: 0 10px 10px 0;
    color: rgba(0, 0, 0, 0.7);
}

.contenedorForm {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    margin: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}

.contenedorForm h2 {
    letter-spacing: 2px;
    color: rgb(240, 173, 74);
}

.contenedorForm fieldset {
    border-color: white;
    border-radius: 5px;
    padding: 10px;
    justify-items: center;
}

.contenedorForm fieldset legend {
    color: rgba(172, 255, 47, 0.7);
    margin-left: 30px;
}

.contenedorForm .itemForm {
    color: white;
    padding-bottom: 10px;
    text-align: center;
}

.contenedorForm .itemForm input {
    border: solid 0.5px;
    border-radius: 5px;
}

.contenedorForm .itemForm textarea {
    border: solid 0.5px;
    border-radius: 5px;
}

.footerFlexContenedor {
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 425px) {
    .footerFlexContenedor {
        border-radius: 5px;
        margin: auto;
        font-size: 25px;
    }
}

.itemFooterFlex1 a {
    text-decoration: none;
    color: white;
    padding-left: 30px;
}

@media (max-width: 425px) {
    .itemFooterFlex1 a {
        display: none;
    }
}

.itemFooterFlex1 a:hover{
    color: rgba(172, 255, 47, 0.7);
    text-decoration: underline;
}

.itemFooterFlex2 a{
    font-family: 'Julius Sans One', sans-serif;
    text-decoration: none;
    color: white;
    letter-spacing: 3px;
}

.itemFooterFlex2 a:hover{
    color: rgba(172, 255, 47, 0.7);
    letter-spacing: 5px;
}

.itemFooterFlex3 h5 {
    color: rgba(255, 255, 255, 0.7);
    padding-right: 30px;
}
